-i http://mirrors.aliyun.com/pypi/simple/  --trusted-host mirrors.aliyun.com
APScheduler==3.6.1
certifi==2019.9.11
chardet==3.0.4
idna==2.8
numpy==1.17.3
opencv-python==4.2.0.32
pytz==2019.3
requests==2.22.0
selenium==3.141.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.25.6
